@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap');

body {
    padding: 20px;
    font-family: 'Signika', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #43766C;
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

#datetime {
    font-size: 20px;
}

footer {
    font-size: 16px;
}

.container {
    flex: 1;
}

.first-container {
    border: 2px solid black;
    /* Set the border style, width, and color */
    padding: 20px;
    /* Optional: Add padding for better appearance */
    border-radius: 20px;
    background-color: white;
}

.time-badge {
    background-color: #43766C;
}

h5 {
    margin-top: 16px;
    font-size: 20px;
}

.add-btn {
    background-color: #43766C;
    color: white;
}

.task-form {
    background-color: #EEF0E5;
}

.check-box:checked {
    border: 2px solid #43766C;
    background-color: #43766C;
}

.checked {
    background-color: #dddddd;
}
.footer-fa-img:hover {
   color: #43766C;
}

@media (max-width: 500px) {
    h1 {
        font-size: 30px;
    }

    #datetime {
        font-size: 16px;
    }

    h5 {
        font-size: 16px;
    }

    .time-badge {
        margin-bottom: 2rem;
    }
    .list-group-item {
        font-size: 14px;
    }

}